*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
    text-align: center;
    
}
button {
    margin: 0px 10px 50px;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}
td{
    padding: 10px 20px;
    border: 1px solid #000;
    width: 500px;
}

.header {
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    margin: 20px 0;
}

.infotecs {
    width: 100%;
    min-height: 100vh;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.main {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}

.products__list{
    margin: 0 0 125px 0;
    padding: 0;
    

}

.table__title {
    width: 250px;
}

.product{
    position: relative;
    display: flex;
    

    transition: 100ms;
}
.product + .product {
margin: -1px 0;
}
    
.dragging {
    opacity:0.5;
}
    
.over {
    border: solid red;
}
.product__title {
    padding: 15px 0;
    width: 250px;
    border: solid 1px #000;
}
.product__body {
    display: none;
    position: absolute;
    left: 249px;
    top: 0;
    width: 750px;

    border: solid 1px #000;

}
.product__title:hover ~ .product__body {
    display: block;
}

.product__title:hover {
    background-color: #A0CBE8;
}
.product:hover .product__body {
    background-color: #A0CBE8;
}
.product:active .product__body {
    display: block;
}

.footer {

    margin: 20px 0;
}